.yellow {
  background-color: #F1A208;
  color: white;
  display: inline-block;
  /*font-size: x-large;*/
  text-align: center;
  height: 100px;
  margin: auto;
    padding: 40px;

}
.green {
  background-color: #99CC00;
  color: white;
  display: inline-block;
    /*font-size: x-large;*/
        text-align: center;
        height: 100px;
}
span{
  margin: 20px
}
.loader{
  text-align: center;
  margin-top: 50px;
}
.data{
  margin-top: 10px;
}
