
  <form class="light" >
    <input type="text" placeholder="Search..." ng-model="HomeCtrl.searchData"/>
    <input type="submit"  ng-click="HomeCtrl.search(1, 'initial')" value="Search"/>
  </form>

  <div class="loader" ng-if="!HomeCtrl.data">
    <img src="assets/images/Preloader_3.gif" alt="">
  </div>

  <div class="data" ng-if="HomeCtrl.data" ng-repeat="data in HomeCtrl.data">
    <div class="row">
      <div class="col-xs-3 yellow">{{data.HSN_CODE}}</div>
      <div class="col-xs-9 green line-clamp">{{data.Description}}</div>
    </div>
    <!-- <hr> -->
  </div>

  <div class="row" ng-if="HomeCtrl.data && !HomeCtrl.data.length">
    <div class="col-xs-12  data norecordfound">
    Sorry! No Record Found.
  </div>
</div>
<div class="row" ng-if="(HomeCtrl.data && HomeCtrl.data.length>=10) && HomeCtrl.pagination!==0">
<div class="col-xs-12  data loadmore" ng-click="HomeCtrl.search(1, 'pagination')">Load More...</div>
</div>
